body{
background-image: radial-gradient(
    circle,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
	text-align: center;
}
h1{
	display: inline;
	text-align: center;
}
table{
	margin: 10px auto 0 auto;
	border-spacing: 23px 14px;
}
.content{
	width: 30%;
	height:50%;
	margin: 75px auto 0 auto;
	box-shadow: 0 4px 8px 0 rgba(1, 0, 0, 0.2), 0 3px 6px 2px rgba(0.1, 0.2, 0.4, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content img,h1,label{
	color: white;
}
.content input{
	border-radius: 25px;
	border: 2px solid;
	height: 20px;
}
h1:hover ,label:hover{
	color: black;
}
input:hover{
	box-shadow:3px 3px;
}
.content:hover {
  background-color: #008793;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 620px)
{
	.content{
	height:auto;
	width: auto;
};
}

@media screen and (min-width: 800px)
{
	.content{
	height:auto;
	width: 50%;
};
}

@media screen and (max-width: 290px)
{
	.content{
	height:auto;
	width: auto;
}
	table{
	margin: 10px auto 0 auto;
	border-spacing: 3px 11px;
};
}
