body{
	background: #ABCDEF;
}
form{
	margin: 5% 37%;
}
h1{
	display: inline;
	text-align: center;
}
table{
	margin-top: 20px;
}
.content{
	width: 400px;
	height:250px;
	box-shadow: 0 4px 8px 0 rgba(1, 0, 0, 0.2), 0 3px 6px 2px rgba(0.1, 0.2, 0.4, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content img,h1,label{
	margin:10px 20px 0px;
	color: black;
}
.content input{
	margin: 10px 20px 0px;
	border-radius: 25px;
	border: 2px solid;
	height: 20px;
}
h1:hover ,label:hover{
	color: white;
}
input:hover{
	box-shadow:3px 3px;
}
.content:hover {
  background-color: #aa4322;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 800px)
{
	form{
		margin: 8%;
	}
	.content{
		width: 100%;
		height: auto;
	}
	label{
		margin: 10px 0 7px;
	}
	h1{
		margin: 0;
	}
}
